* {
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #444;
    transition: color 0.4s ease;
}

a:hover {
    color: #00A28B;
}

#navbar {
    padding: 1.5rem 2.5rem;
    background: linear-gradient(135deg, #00A28B, #00e5ff42);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#navbar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
}

#navbar-inner h2 {
    font-size: 2rem;
    color: #fff;
}

#nav-links {
    display: flex;
    gap: 1rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 3rem;
    padding: 2rem 2.5rem;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#posts-container {
    flex: 3 1 0;
}

.post {
    margin-bottom: 2.rem;
}

.post img {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #00A28B;
}

.description {
    margin-bottom: 1rem;
}

.author {
    margin-bottom: 1rem;
    color: #666;
    font-weight: bold;
}

#sidebar {
    flex: 1 1 0;
}

#search-bar,
#categories,
#tags {
    padding: 1.5rem;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

#search-bar h4,
#categories h4,
#tags h4 {
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
}

#search-bar form {
    display: flex;
}

#search-bar input[type="text"] {
    padding: 0.5rem 1rem;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
    flex: 1;
    outline: none;
}

#search-bar input[type="submit"] {
    cursor: pointer;
    background-color: #00A28B;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 0.5rem 1rem;
}

#search-bar input[type="submit"]:hover {
    background-color: #00796B;
}

#categories li {
    margin-bottom: 1rem;
}

#tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

#tags-container a {
    background-color: #00A28B;
    color: #fff;
    padding: 0.5rem 0.7rem;
    border-radius: 0.3rem;
    transition: background-color 0.3s ease;
}

#tags-container a:hover {
    background-color: #00796B;
}

#footer {
    border-top: 2px solid #ddd;
    padding: 3rem;
    text-align: center;
    background: #fff;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
}

#footer h2,
footer p {
    margin-bottom: 1rem;
    color: #00A28B;
}

@media(max-width: 450px){
    .container {
        flex-wrap: wrap;
    }
}